.heading {
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.comon {
  width: 33%;
  height: 500px;
  background: rebeccapurple;
}
.comon h4 {
  text-align: center;
}
.inside {
  background: rgb(255, 190, 246);
  margin: 15px;
  padding: 10px;
  cursor: pointer;
}
.inside:hover {
  background: rgb(224, 149, 214);
}
